[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-bootstrap5 = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
django-jazzmin = "*"
django-use-email-as-username = "*"

[dev-packages]

[requires]
python_version = "3.11"
