{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Fastfood{% endblock title %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">    
</head>
<body>
<div class="navbar navbar-inverse">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-12">

                  <div class="navbar-header">
                      <button class="navbar-toggle" data-target="#mobile_menu" data-toggle="collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                      <a href="#" class="navbar-brand">FASTFOOD</a>
                  </div>

                  <div class="navbar-collapse collapse" id="mobile_menu">
                      <ul class="nav navbar-nav">
                          <li class="active"><a href="{% url 'main:index' %}">Home</a></li>
                          <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Category <span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                {% for i in categories %}
                                  <li><a href="{% url "main:category" i.name %}">{{i.name}}</a></li>
                                  {% endfor %}
                              </ul>
                          </li>
                          <li><a href="{% url 'users:buyed' %}">Buying🛒</a></li>
                          <li><a href="{% url 'foods:new' %}">Add a menu</a></li>
                      </ul>
                      <ul class="nav navbar-nav">
                          <li>
                              <form action="" class="navbar-form">
                                  <div class="form-group">
                                      <div class="input-group">
                                          <input type="search" name="search" id="" placeholder="Search..." class="form-control">
                                          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                                      </div>
                                  </div>
                              </form>
                          </li>
                      </ul>
                      <ul class="nav navbar-nav navbar-right">
                          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                          {% if request.user.is_authenticated %}
                          <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-log-in"></span> Logout <span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                  <li><a href="{% url "users:signup" %}">Logout</a></li>
                              </ul>
                          </li>
                      </ul>
                      {% else %}
                      <li><a href="{% url "login" %}">Login</a></li>
                      <li><a href="{% url "users:signup" %}">Sign Up</a></li>
                      {% endif %}
                  </div>
              </div>
          </div>
      </div>
  </div>

  <main>
    {% block content %}{% endblock content %}

    <div class="container">
        {% if messages %}
        <div style="z-index: 312;" class="shadow-sm position-fixed end-0 bottom-0 mt-4">
            {% for message in messages %}
            <div style="width: 20rem; opacity: 0.9;" class="m-3 alert alert-{{message.tags}}" role="alert">
                {{message}}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
     
  </main>

  {% block link %}

    {% endblock %}

    {% block style %}

    {% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>