{% extends "base.html" %}
{% load static %}


<link rel="stylesheet" href="{% static 'style.css' %}">
{% block title %}
FASTFOOD
{% endblock title %}

{% block content %}
<main>
  <div class="card">
    <img src="" alt="Burger">
    <h2>Burger</h2>
    <p>Lezzatli va chiroyli burgerlarimiz!</p>
    <span class="price">$5.99</span>
    <div class="buttons">
      <button class="create-btn">Create</button>
      <button class="update-btn">Update</button>
      <button class="details-btn">Details</button>
    </div>
  </div>
  <!-- Boshqa mahsulotlar uchun bunga o'xshash cardlar -->
</main>
{% endblock content %}